*{
    font-family: 'Protest Riot', sans-serif;
    

}
body{
    background-color:white;
    height: 98vh;
}

a{
    text-decoration: none;
}
.fundo1{
    background-image: url('imagens/background001.jpg');
}

.fundo2{
    background-image: url('imagens/background002.jpg');
}
.fundo-preto{
    background-color: black;
}

.fundo-branco{
    background-color: white;
}

.fundo-transparente{
    background-color: rgba(0, 0, 0, 0.518);
    color: white;
    width: 750px;
}

.fundo-preto{
    background-color: black;
    color: white;
    width: 750px;
    
}
header{
    background-color: black;
    color: white;
    

}
h1{
    font-size: 8em;
    text-align: center;
    padding: 25px;
}

header p{
    color: white;
    margin-top:-100px;
    text-align: center;
    padding: 25px;
}
p{
    text-align: start;
    line-height: 1.5em;
    font-size: 2.5em;
    padding: 15px;
}
footer{
    background-color: black;
    color: white;
    margin: auto;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
}